<h2>{{lobbyId}}</h2>
<h3>Welcome {{clientName}}</h3>
<!--if client is the owner display the available gamemodes in a div list and the client can choose a gamemode by pressing one-->
<ng-container *ngIf = "isClientOwner else currentGameModeTemplate">
    <h2>Choose a gamemode:</h2>
    <div *ngFor = "let gameMode of (validGameModes | async)?.result">
        <h3 (click) = "setChosenGameMode(gameMode)">{{gameMode}}</h3>
    </div>
</ng-container>
<!-- display the clients in the lobby -->
<div *ngFor = "let client of lobbyClients">
        <div *ngIf = "client !== clientName">
            <p>{{client}}</p>
        </div>
</div>
<!-- template only if the client is not the owner -->
<ng-template #currentGameModeTemplate>
    <h2>{{currentGameMode}}</h2>
</ng-template>